* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Oxanium', Helvetica, Arial, sans-serif;
    background-image: url('images/haxmas2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    overflow: auto;
    height: 100vh;
    background-color: #1E1F22;
    transition: background-image 1s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
    max-width: 1200px;
}

.navbar-left, .navbar-center, .navbar-right {
    display: flex;
    align-items: center;
}

.navbar-center {
    justify-content: center;
    flex-grow: 1;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px 15px;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.register-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.register-btn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust height to account for navbar */
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 8em;
}

.content sup {
    font-size: 0.3em;
}

/* Price Awards Styling */


.prizes-section {
    background: #1E1F22;
    text-align: center;
    padding: 50px 20px;
    margin-top: 120px;
    
    
}

.prizes-section h2 {
    font-size: 2.5em;
    margin-bottom: 100px;
    color:  white;
}

.prizes {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.prize {
    border: 3px solid #FF69B4; /* Luminous pink border */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s;
}

.prize img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.prize p {
    font-size: 1.2em;
    color: white;
}



.prize-highlight {
    transform: scale(1.25); 
}


/* FAQ Section */

.faq-section {
    text-align: center;
    padding: 100px 20px;
    background: #1E1F22;
}

.faq-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: white;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
   
}

.faq {
    background: rgba(255, 255, 255, .05);
    border-radius: 10px;
    width: 45%;
    max-width: 800px;
    padding: 20px;
    color: #fff;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question p {
    margin: 0;
    font-size: 1.2em;
}

.toggle-answer {
    background-color: #D2047A; /* Luminous pink */
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 1.em;
    cursor: pointer;
    transition: transform 0.3s;
}

.faq-answer {
    display: none;
    margin-top: 20px;
    font-size: 1em;
}

.faq-answer p {
    margin: 0;
}


.toggle-answer.active {
    transform: rotate(180deg);
}


/* Contact Us Card */

.contact-heading {
    margin-bottom: 50px;
     margin-left: 100px;/* Align with the margin of the first card */
}
.contact-heading h2 {
    font-size: 3rem;
    color: #fff; /* Match the color scheme */
   
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #1E1F22;
    gap: 30px;
}
.container .card {
    width: 330px;
    height: 416px;
    padding: 60px 30px;
    margin: 20px;
    background: rgba(255, 255, 255, .05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #D2047A;
}
.container .card .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container .card .content .imgBx {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.container .card .content .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content .contentBx {
    text-align: center;
}
.container .card .content .contentBx h4 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.container .card .content .contentBx h5 {
    color: #6c758f;
    font-size: 1.2rem;
    font-weight: bold;
}
.container .card .content .sci {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.container .card .content .sci a {
    text-decoration: none;
    color: #6c758f;
    font-size: 30px;
    margin: 10px;
    transition: color 0.4s;
}
.container .card .content .sci a:hover {
    color: #0196e3;
}

